.header {
  display: flex;
  background-color: white;
  justify-content: space-between;
  position: relative;
}

.logo-container {
  font-weight: bold;
  text-align: center;
  display: flex;
  margin-left: 20px;
}

.logo-lotos {
  margin-top: 20px;
  width: 60px;
  height: 60px;
}

.logo-text {
  padding-left: 20px;
  font-size: 2rem;
  font-family: 'Amatic SC', cursive;
  display: none;
}

.menu {
  margin-right: 70px;
}

.menu_buttons li {
  list-style-type: none;
  margin: 2px;
}

.menu_buttons a {
  color: black;
  text-decoration: none;
  display: block;
  padding: 10px 0px;
  text-align: center;
  border-bottom: 1px solid transparent;
}

.menu_buttons a:hover {
  border-bottom: 1px solid black;
}

.hamburger-btn {
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-image: url('../assets/hamburger.svg');
}
.hamburger {
  position: absolute;
  top: 15px;
  right: 0;
  margin: 20px;
}

.nav-closed {
  display: none;
}

/*RESPONZIVITA*/

@media (min-width: 500px) {
  .logo-text {
    display: inline-block;
  }
}

@media (min-width: 640px) {
  .header {
    display: flex;
    /* align-items: center; */
  }

  .intro__text {
    width: 60%;
  }

  .logo-container {
    width: 40%;
  }

  .menu_buttons {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 850px) {
  .hamburger-btn {
    display: none;
  }
  .header {
    align-items: center;
  }

  .menu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
  }
  .menu_buttons {
    flex-direction: row;
  }
  .menu_buttons a {
    padding: 10px 20px;
  }
}

@media (min-width: 1000px) {
  .header {
    display: flex;
  }

  .logo-container {
    min-width: 200px;
  }

  nav .menu {
    display: flex;
    justify-content: flex-end;
    flex-basis: 70%;
  }

  .menu_buttons {
    width: 100%;
    justify-content: flex-end;
  }
  .hamburger-btn {
    display: none;
  }
}
