.intro {
  background-image: url('../assets/rozcestnik_edit.jpg');
  background-size: cover;
  background-position: top center;
  min-height: 400px;
  min-width: 100%;
}
.intro__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro h1 {
  color: black;
  font-size: 3rem;
  font-family: 'Amatic SC', cursive;
  text-align: center;
  padding-top: 80px;
  text-shadow: 1px 1px 1px black;
  min-width: 300px;
  width: 300px;
  padding-left: 20px;
  padding-right: 40px;
}

.btn__start {
  text-align: center;
  display: block;
  border: none;
  border-radius: 100px;
  width: 150px;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: 'Amatic SC', cursive;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn__start:hover {
  background-color: rgb(209, 235, 236);
}

h2 {
  font-family: 'Amatic SC', cursive;
}

.intro__articles {
  display: flex;
  flex-direction: column;
}

.intro__pose {
  width: 100px;
}

.intro__article {
  flex-basis: calc(100% / 3);
  text-align: center;
  padding: 20px;
}

.intro__heading {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
}

/*RESPONZIVITA*/

@media (min-width: 470px) {
  .intro__articles {
    flex-direction: row;
  }
  .intro__div {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 640px) {
  .intro__div {
    width: 75%;
  }
}

@media (min-width: 796px) {
  .search-intro {
    flex-direction: row;
  }
  .search__form {
    width: 25%;
    padding: 0 0 0 20px;
  }

  .select__studio {
    margin-left: 0;
  }
}

@media (min-width: 1000px) {
  .intro__div {
    width: 60%;
  }
  .intro h1 {
    font-size: 4rem;
    width: 400px;
    padding-bottom: 40px;
  }

  .btn__start {
    margin-bottom: 80px;
  }
}
