.oneResult {
  /*min-height: 100vh;*/
  min-width: 100%;
}

.oneResult__description {
  display: block;
  text-align: justify;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 30px;
  line-height: 1.5;
}

.oneResult__div {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  /*width: 100%;*/
  line-height: 1.5;
}

.oneResult__heading {
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

.oneResult__capacity {
  margin-right: 10px;
}
/*.oneResult__capacity,
.oneResult__difficulty,
.oneResult__length,
.oneResult__teacher,
.oneResult__price,
.oneResult__contacts {
  padding-left: 30px;
  padding-right: 30px;
}*/

.oneResult__links {
  padding-right: 20px;
  padding-top: 10px;
}

.oneResult__icons {
  padding-right: 10px;
  padding-bottom: 10px;
}

.oneResult__phone {
  padding-top: 5px;
}

.button__reservation {
  display: block;
  border: none;
  border-radius: 100px;
  width: 150px;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: 'Amatic SC', cursive;
  padding-top: 10px;
  padding-bottom: 10px;
}

.button__reservation:hover {
  background-color: rgb(209, 235, 236);
}

a {
  text-decoration: none;
}

.oneStudio__icons {
  height: 2em;
  width: 2em;
}

/*.oneResult__contacts {
  width: 100%;
}*/

.oneResult__phone {
  display: flex;
}

.oneResult__photogallery {
  /*background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  width: 85vw;*/
  margin: 10px;
}

.oneResult__photos {
  display: flex;
  overflow: auto;
}

.oneResult__details li {
  list-style-type: none;
}

@media (min-width: 800px) {
  .oneResult__div {
    display: flex;
  }

  .oneResult__details {
    flex-basis: 50%;
  }

  .oneResult__photogallery {
    flex-basis: 50%;
  }
}
