/*nastaveno pro breaking-point 378px */
.results a {
  display: block;
  text-decoration: none;
  color: black;
  line-height: 2;
}

.results h2 {
  text-align: center;
}

.results__img {
  height: 2em;
  width: 2em;
  position: absolute;
  top: 40px;
}

.results__list {
  padding: 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.results-intro {
  width: 100%;
  background-color: white;
}

.results-intro a {
  display: block;
  text-decoration: none;
  color: black;
  line-height: 2;
  font-size: 1rem;
  margin: 5px;
  padding-left: 20px;
}

.results__heading {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
  margin: 0;
  padding: 20px 0;
}

.results__StudioName {
  font-weight: bold;
  padding-right: 10px;
}

.results__time {
  font-size: 1rem;
  padding-left: 10px;
  padding-right: 10px;
}

.results__day {
  padding-left: 60px;
}

.results__title {
  padding-left: 60px;
  display: block;
}

.obsazeno {
  color: brown;
  padding-left: 60px;
}

.results-intro a:nth-child(1n) {
  background-color: whitesmoke;
}

.results-intro a:nth-child(1n):hover {
  background-color: rgb(209, 235, 236);
}

.results-intro a:nth-child(2n) {
  background-color: whitesmoke;
}

.results-intro a:nth-child(2n):hover {
  background-color: rgb(209, 235, 236);
}

@media (min-width: 640px) {
  .results__title {
    display: inline;
  }

  .results-intro a {
    font-size: 1.25rem;
    line-height: 3;
  }

  .results__day {
    padding-left: 60px;
  }

  .results__time {
    font-size: 1.25rem;
  }

  .results__img {
    height: 2em;
    width: 2em;
    position: absolute;
    top: 30px;
  }
}
