.oneResult {
  min-height: 100vh;
  min-width: 100%;
}

.oneResult__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.oneResult__heading {
  font-family: 'Amatic SC', cursive;
  /*font-weight: bold;*/
  text-align: center;
  /*background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  padding: 10px;*/
}

ul{
  padding-left: 30px;
  padding-right: 30px;
}

.oneResult__capacity, .oneResult__difficulty, .oneResult__length, .oneResult__teacher, .oneResult__price, .oneResult__contacts {
  padding-left: 30px;
  padding-right: 30px;
}
.oneResult__description {
  line-height: 1.5;
  display: block;
  text-align: justify;
  margin-right: 30px;
  margin-left: 30px;
  padding-bottom: 30px;
}

.oneResult__links {
  display: flex;
  padding-right: 20px;
  padding-top: 20px;
}

.oneResult__phone-text {
  padding-left: 15px;
}

.button__reservation {
  display: block;
  border: none;
  border-radius: 100px;
  width: 200px;
  cursor: pointer;
  font-size: 2rem;
  font-family: 'Amatic SC', cursive;
  padding-top: 10px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
}

.oneStudio__icons {
  height: 2em;
  width: 2em;
}

.oneResult__contacts {
  width: 100%;
}

.oneResult__phone {
  display: flex;
}

.oneResult__photogallery {
  /*background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  width: 85vw;*/
  width: 100%;
  margin: 10px;
}

.oneResult__photos {
  display: flex;
  
  overflow: auto;
}

/*.oneResult__onePhoto {
  border-radius: 3px;
  margin: 10px;
  width: 200px;
}*/

.oneResult__details {
  /*background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  width: 85vw;
  margin: 10px;*/
  
  line-height: 1.5;
}

.oneResult__details li {
  list-style-type: none;
}

@media (min-width: 800px) {
  .oneResult__div {
    display: flex;
  }

  .oneResult__details {
    flex-basis: 50%;
  }

  .oneResult__photogallery {
    flex-basis: 50%;
  }
}