.results-intro {
  width: 100%;
  background-color: whitesmoke;
}

.results-intro a {
  display: block;
  text-decoration: none;
  color: black;
  line-height: 2;
  font-size: 1rem;
  margin: 10px;
  padding-left: 20px;
}

.results__heading {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
  margin: 0;
  padding: 20px 0;
}

.results__StudioName {
  font-weight: bold;
}

.results__time {
  font-size: 1.25rem;
}

.results__title {
  padding-left: 0px;
  display: block;
}

.obsazeno {
  color: brown;
}

.results-intro a:nth-child(1n) {
  background-color: rgb(209, 235, 236);
}
.results-intro a:nth-child(2n) {
  background-color: lightgray;
}

@media (min-width: 640px) {
  .results__title {
    display: inline;
  }

  .results-intro a {
    font-size: 1.25rem;
    line-height: 3;
  }
}
