.map-intro {
  width: 95vw;
  height: 50vh;
  border: 1px solid black;
}

.marker-button {
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  outline: none;
  cursor: pointer;
}
.map__pin {
  transform: scale(2);
}

.map__navigation {
  position: absolute;
	top: 10px;
	right: 10px;
}

.map__navigation > * {
	position: static !important;
}


@media (min-width: 796px) {
  .map-intro {
    width: 70%;
  }
}
