.oneStudio__title {
  font-family: 'Amatic SC', cursive;
  text-align: center;
}

.oneStudio__details {
  line-height: 1.5;
  margin: 0 auto 0;
  background: white;
  padding: 24px 34px;
}

.oneStudio__description {
  text-align: justify;
  padding-bottom: 20px;
}

.oneStudio__icons {
  height: 2em;
  width: 2em;
}

.oneStudio__website,
.oneStudio__facebook,
.oneStudio__instagram,
.oneStudio__email {
  padding-right: 20px;
}

.oneStudio__address {
  display: flex;
  padding-top: 10px;
}

.oneStudio__address-text {
  padding-left: 15px;
}

.oneStudio__links {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.oneStudio__links a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.hidden {
  display: none;
}

@media (min-width: 1000px) {
  .oneStudio__div {
    display: flex;
    padding-bottom: 20px;
  }

  .oneStudio__photos {
    flex-basis: 50%;
  }

  .oneStudio__details {
    flex-basis: 50%;
  }

  .map__studio {
    height: 150px;
  }
}
