.oneStudio__title {
  font-family: 'Amatic SC', cursive;
  text-align: center;
}


.oneStudio__details {
  line-height: 1.5;
  margin: 0 auto 0;
  background: white;
  padding: 24px 34px;
}

.oneStudio__description {
  text-align: justify;
}

.oneStudio__icons {
  height: 2em;
  width: 2em;
}

.oneStudio__website,
.oneStudio__facebook,
.oneStudio__instagram,
.oneStudio__email {
  padding-right: 20px;
  padding-top: 20px;
}

.oneStudio__address {
  display: flex;
}

.oneStudio__address-text {
  padding-left: 15px;
}

.oneStudio__links {
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.oneStudio__links a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

@media (min-width: 1000px) {
 /*

  .oneResult__photogallery,
  .oneResult__details {
    width: auto;
    z-index: 0;
  }*/
}
