@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-width: 280px;
}

img {
  max-width: 100%;
}